body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #242c5b;
  /* height: 100vh; */
}

.group-listing {
  /* background-color: #0f1855; */
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  cursor: pointer;
  color: white;
}

.group-listing-selected {
  background-color: #40476a;
}

.group-listing-main {
  border-right: 1px solid gray;
  padding-right: 0px !important;
  height: 93vh;
  /* background-color: #242c5b; */
}

.group-listing-container {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: #242c5b;
}

.user-container {
  height: 92vh;
  padding-top: 1em;
}

.message-input {
  width: 100%;
  padding-top: 2px;
  border: none;
  min-height: 3em;
  max-height: 6em;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
}

.message-listing-main {
  padding-left: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93vh;
  /* max-height: 90vh; */
}

.group-info-main {
  padding-left: 20px !important;
  display: flex;
  flex-direction: column;
  height: 93vh;
  row-gap: 2em;
  /* max-height: 90vh; */
}

.message-listing {
  color: white;
  text-align: left;
}

.message-lising-content {
  padding-left: 20px;
}

::-webkit-scrollbar {
  background-color: #242c5b;
}

::-webkit-scrollbar-thumb {
  background: #40476a;
}

.message-input-grp {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  column-gap: 10px;
}

.message-send {
  height: 2em;
}

.message-listing-groupname {
  background-color: #40476a;
  color: white;
  border: 1px solid #40476a;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.message-listing-messages {
  overflow: scroll;
  max-height: 70vh;
}

.date-container {
  width: 100%;
  height: 1px;
  background-color: black;
  position: relative;
  margin-bottom: 1em;
}
.circle {
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  height: 2em;
  background-color: white;
  border: solid 1px black;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 40%;
}
.blue {
  margin-top: 20px;
  background: white;
}
.blue .circle {
  background: white;
  border-color: white;
}

.like-message {
  content: "";
  background-position: center center;
  background-size: cover;
  opacity: 0.3;
  height: 3px;
  margin: -10px;
  width: 3px;
  /* position: absolute; */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  /* z-index: 0; */
}

.unfilled-like-icon {
  display: inline-block;
  width: 1em; /* Set appropriate width */
  height: 1em; /* Set appropriate height */
  border: 1px solid gray; /* Border to create outline */
  margin-right: 5px; /* Add spacing between unfilled icon and filled icon */
}

.heart-icon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  fill: none;
  stroke: gray;
}

.liked {
  fill: red !important;
}

.group-search {
  padding-right: 5px;
  padding-bottom: 15px;
  border-bottom: 5px solid white;
}

.message-edit-container {
  margin-bottom: 10px;
  display: flex;
  column-gap: 10px;
  font-size: 0.7em;
}

.group-members-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.group-members-title-span {
  color: white;
}

.group-members {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin-bottom: 10px;
}

.group-members-main {
  overflow: scroll;
  height: 50vh;
  margin-top: 10px;
}
.group-info-container {
  display: flex;
  column-gap: 1em;
}

.message-listing-groupname {
  width: 100%;
}

.group-listing-all {
  overflow: scroll;
  height: 85vh;
}

.user-listing {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-left: 2em;
  margin-bottom: 1em;
}

.user-listing-buttons {
  display: flex;
  column-gap: 2em;
}

.user-search {
  margin-bottom: 1em;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
